{% extends 'base.html.twig' %}


{% block body %}

<div id="mainBlock" class="container-fluid">

    <div class="p-5 row">

        <div class="col-12 col-sm-3 tool-panel">
            <h2>Tool panel</h2>
        </div>
        
        <div class="col-12 col-sm-9 image-panel">
            <div>
                <h2>Import your image (.png, .jpg)</h2>
                <i class="bi bi-image"></i>
                <input class="form-control form-control-lg" id="imageField" type="file" accept=".png,.jpg">
            </div>
        </div>

    </div>

</div>


{% endblock %}
