{% extends 'base.html.twig' %}


{% block body %}

<div id="mainBlock" class="container-fluid">

    <div class="p-5 row">

        <div class="col-12 col-sm-3 tool-panel">
            <h2>Tool panel</h2>
        </div>
        
        <div class="col-12 col-sm-9 image-panel d-flex justify-content-center align-items-center">
            <div class="h-75 w-75 p-2 import-block d-flex justify-content-center align-items-center flex-column">
                <div class="container"><h1>Import your image (.png, .jpg)</h1></div>
                <div class="container"><i class="bi bi-image"></i></div>
                <div class="container"><input class="form-control form-control-lg" id="imageField" type="file" accept=".png,.jpg,.jpeg"></div>
            </div>
        </div>

    </div>

</div>


{% endblock %}
